@import "tailwindcss";

.tooltip-decrement, .tooltip-increment {
    position: absolute;
    width: max-content;
    background-color: #101828;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
}

.tooltip-decrement::after, .tooltip-increment::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #101828 transparent transparent transparent;
}